@model WebApiCrud.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
